<div class="mx-auto" style="width: 200px;">
  <h1>Fill in your profile</h1>
</div>

<%= form_for :user_info do |form| %>
  <div class="field  mb-3">
    <%= form.label :city_id %>
    <%= form.text_field :city_id %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :second_name %>
    <%= form.text_field :second_name %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.number_field :gender %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>