  <%= form_for :user do |f| %>
    <div class="field mb-3">
      <%= f.label :User %>
      <%= f.radio_button :role_id, Role.where(name: 'Registred user'), value: 'user' %>
    </div>
    <div class="field mb-3">
      <%= f.label :Realtor %>
      <%= f.radio_button :role_id, Role.where(name: 'Realtor'), value: 'realtor' %>
    </div>
  <% end %>

    <div class="actions mb-2 d-grid gap-2 col-6 mx-auto">
    <%= form.submit 'Save', class:"btn btn-outline-success" %>
  </div>

  <% if current_user.role_id = 1 %>
          <li class="nav-item">
            <%= link_to 'Admin panel', admin_panel_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to current_user.email.split('@').first, edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to current_user.email.split('@').first, edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% end %>

  <div class="field mb-3">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :second_name %>
    <%= f.text_field :second_name, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :gender %>
    <%= f.select :gender, UserInfo.genders.map {|gen| gen.first } %>
  </div>


  <div class="field mb-3">
    <%= f.label :profilable_type, "Client", value: 'client' %>
    <%= f.radio_button :profilable_type, 'client' %>
    <%= f.label :profilable_type, "Realtor", value: 'realtor' %>
    <%= f.radio_button :profilable_type, 'realtor' %>
  </div>

