<div class="container" style="width: 600px;">
<%= form_with(model: ready_state) do |form| %>
  <% if ready_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ready_state.errors.count, "error") %> prohibited this ready_state from being saved:</h2>

      <ul>
        <% ready_state.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions mb-2 d-grid gap-2 col-6 mx-auto">
    <%= form.submit 'Save', class:"btn btn-outline-success" %>
  </div>
<% end %>
</div>
