<% presenter = FlatPresenter.new %>
<div class="container" style="width: 600px;">
<%= form_for @flat do |f| %>
  <% if flat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flat.errors.count, "error") %> prohibited this flat from being saved:</h2>

      <ul>
        <% flat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= f.label :renovation_id %>
    <%= f.collection_select :renovation_id, presenter.ordered_renovations, :id, :name %>
  </div>

  <div class="field mb-3">
    <%= f.label :rooms_count %>
    <%= f.number_field :rooms_count, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :floor %>
    <%= f.number_field :floor, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :wall_material_id %>
    <%= f.collection_select :wall_material_id, presenter.ordered_wall_materials, :id, :name %>
  </div>

  <div class="field mb-3">
    <%= f.label :kitchen_area %>
    <%= f.text_field :kitchen_area, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :living_area %>
    <%= f.text_field :living_area, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :total_area %>
    <%= f.text_field :total_area, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :celling_height %>
    <%= f.text_field :celling_height, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :year_of_construction %>
    <%= f.number_field :year_of_construction, class: "form-control" %>
  </div>

  <%= f.fields_for :lot do |lot| %>
    <div class="field mb-3">
      <%= lot.label :images %></br>
      <% if !@flat.lot.nil? %>
        <% if @flat.lot.images.attached? %>
          <% @flat.lot.images.each do |image| %>
            <%= image_tag image, size: '200', class: 'mb-3' %>
          <% end %>
        <% end %>
      <% end %>
      <%= lot.file_field :images, multiple: true, type: "file", class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= lot.label :title %>
      <%= lot.text_field :title, class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= lot.label :description %>
      <%= lot.text_area :description, class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= lot.label :price %>
      <%= lot.number_field :price, class: "form-control" %>
    </div>

    <div class="field">
      <%= lot.hidden_field :client_id, value: current_user.id %>
    </div>

    <div class="field mb-3">
      <%= lot.label :deal_type_id %>
      <%= lot.collection_select :deal_type_id, presenter.ordered_deal_types, :id, :name %>
    </div>

    <%= lot.fields_for :address do |address| %>
      <div class="field mb-3">
        <%= address.label :building %>
        <%= address.number_field :building, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= address.label :description %>
        <%= address.text_area :description, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= address.label :street_id %>
        <%= address.collection_select :street_id, presenter.ordered_streets, :id, :name %>
      </div>
    <% end %>
  <% end %>

  <div class="actions mb-2 d-grid gap-2 col-6 mx-auto">
    <%= f.submit 'Save', class:"btn btn-outline-success" %>
  </div>
<% end %>
</div>
