<p style="text-align: center;">
  <% if @flat.lot.images.attached? %>
    <% @flat.lot.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [250, 250]).processed %>
    <% end %>
  <% end %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Title:</strong>
  <%= @flat.lot.title %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Description:</strong>
  <%= @flat.lot.description %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Price:</strong>
  <%= @flat.lot.price %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Deal type:</strong>
  <%= @flat.lot.deal_type.name %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>City:</strong>
  <%= @flat.lot.address.street.district.city.name %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>District:</strong>
  <%= @flat.lot.address.street.district.name %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Street:</strong>
  <%= @flat.lot.address.street.name %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Building:</strong>
  <%= @flat.lot.address.building %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Address description:</strong>
  <%= @flat.lot.address.description %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Renovation:</strong>
  <%= @flat.renovation.name %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Rooms count:</strong>
  <%= @flat.rooms_count %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Floor:</strong>
  <%= @flat.floor %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Wall material:</strong>
  <%= @flat.wall_material.name %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Kitchen area:</strong>
  <%= @flat.kitchen_area %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Living area:</strong>
  <%= @flat.living_area %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Total area:</strong>
  <%= @flat.total_area %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Celling height:</strong>
  <%= @flat.celling_height %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Year of construction:</strong>
  <%= @flat.year_of_construction %>
</p>

<% if current_user.role.can_edit_lot %>
  <p style="text-align: center; font-size: 20px">
    <strong>Asigner:</strong>
    <% if @flat.lot.asigner.nil? %>
      <%= 'Asigner not match' %>
    <% else %>
      <%= @flat.lot.asigner.full_name %>
    <% end %>
  </p>

  <p style="text-align: center; font-size: 20px">
    <strong>Asignee:</strong>
    <% if @flat.lot.asignee.nil? %>
      <%= 'Asignee not match' %>
    <% else %>
      <%= @flat.lot.asignee.full_name %>
    <% end %>
  </p>

  <p style="text-align: center; font-size: 20px">
    <strong>Client:</strong>
    <% if @flat.lot.client.nil? %>
      <%= 'Client not match' %>
    <% else %>
      <%= @flat.lot.client.full_name %>
    <% end %>
  </p>

  <div class="actions mb-2 d-grid gap-2 col-1 mx-auto">
    <%= link_to 'Edit', edit_flat_path(@flat), class: "btn btn-warning" %>
  </div>
<% end %>

<div class="actions mb-2 d-grid gap-2 col-1 mx-auto">
  <%= link_to 'Back', flats_path, class: "btn btn-danger" %>
</div>
