<% presenter = CountrySideHousePresenter.new %>
<%= form_with(model: country_side_house) do |form| %>
  <% if country_side_house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country_side_house.errors.count, "error") %> prohibited this country_side_house from being saved:</h2>

      <ul>
        <% country_side_house.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :country_side_house_kind_id %>
    <%= form.collection_select :country_side_house_kind_id, presenter.ordered_country_side_house_kinds, :id, :name %>
  </div>

  <div class="field mb-3">
    <%= form.label :ready_state_id %>
    <%= form.collection_select :ready_state_id, presenter.ordered_ready_states, :id, :name %>
  </div>

  <div class="field mb-3">
    <%= form.label :floors_count %>
    <%= form.number_field :floors_count, class: "form-control"  %>
  </div>

  <div class="field mb-3">
    <%= form.label :land_area %>
    <%= form.text_field :land_area, class: "form-control"  %>
  </div>

  <div class="field mb-3">
    <%= form.label :total_area %>
    <%= form.text_field :total_area, class: "form-control"  %>
  </div>

  <div class="field mb-3">
    <%= form.label :year_of_construction %>
    <%= form.number_field :year_of_construction, class: "form-control"  %>
  </div>

  <div class="field mb-3">
    <%= form.label :wall_material_id %>
    <%= form.collection_select :wall_material_id, presenter.ordered_wall_materials, :id, :name %>
  </div>

  <div class="actions mb-2 d-grid gap-2 col-6 mx-auto">
    <%= form.submit 'Save', class:"btn btn-outline-success" %>
  </div>
<% end %>
