<%= form_with(model: user_info) do |form| %>
  <% if user_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_info.errors.count, "error") %> prohibited this user_info from being saved:</h2>

      <ul>
        <% user_info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :city_id %>
    <%= form.collection_select :city_id, City.order(:name), :id, :name %>
  </div>

  <div class="field mb-3">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :second_name %>
    <%= form.text_field :second_name, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :gender %>
    <%= form.select :gender, UserInfo.genders.map {|gen| gen.first } %>
  </div>

  <div class="actions mb-2 d-grid gap-2 col-6 mx-auto">
    <%= form.submit 'Save', class:"btn btn-outline-success" %>
  </div>
<% end %>
