<h1>User Infos</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Second name</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_infos.each do |user_info| %>
      <tr>
        <td><%= user_info.city_id %></td>
        <td><%= user_info.first_name %></td>
        <td><%= user_info.last_name %></td>
        <td><%= user_info.second_name %></td>
        <td><%= user_info.date_of_birth %></td>
        <td><%= user_info.gender %></td>
        <td><%= link_to 'Show', user_info %></td>
        <td><%= link_to 'Edit', edit_user_info_path(user_info) %></td>
        <td><%= link_to 'Destroy', user_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Info', new_user_info_path %>
