<% presenter = AdminPanelPresenter.new(current_user) %>
<%= stylesheet_link_tag :admin_panel %>

<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <div class="col m-2 p-1 border">
        <h4 class="menu_item"><%= link_to 'Users', user_index_path, class: "menu_item" %></h4>
      </div>
      <div class="col m-2 p-1 border">
        <h4 class="menu_item"><%= link_to 'Roles', roles_path, class: "menu_item" %></h4>
      </div>
      <div class="col m-2 p-1 border">
        <h4 class="menu_item"><%= link_to 'Cities', cities_path, class: "menu_item" %></h4>
      </div>
      <div class="col m-2 p-1 border">
        <h4 class="menu_item"><%= link_to 'Countries', countries_path, class: "menu_item" %></h4>
      </div>
      <div class="col m-2 p-1 border">
        <h4 class="menu_item"><%= link_to 'Commercial premises kinds', commercial_premises_kinds_path, class: "menu_item" %></h4>
      </div>
      <div class="col m-2 p-1 border">
        <h4 class="menu_item"><%= link_to 'Country side houses kinds', country_side_house_kinds_path, class: "menu_item" %></h4>
      </div>
      <div class="col m-2 p-1 border">
        <h4 class="menu_item"><%= link_to 'Deal types', deal_types_path, class: "menu_item" %></h4>
      </div>
      <div class="col m-2 p-1 border">
        <h4 class="menu_item"><%= link_to 'Property types', property_types_path, class: "menu_item" %></h4>
      </div>
      <div class="col m-2 p-1 border">
        <h4 class="menu_item"><%= link_to 'Ready states', ready_states_path, class: "menu_item" %></h4>
      </div>
      <div class="col m-2 p-1 border">
        <h4 class="menu_item"><%= link_to 'Renovations', renovations_path, class: "menu_item" %></h4>
      </div>
      <div class="col m-2 p-1 border">
        <h4 class="menu_item"><%= link_to 'Wall materials', wall_materials_path, class: "menu_item" %></h4>
      </div>
    </div>
    <div class="col-3">
      <div class="col m-2 p-4 border report_item">
        <h3>Number of users</h3>
        <h2 data-controller="users-count"></h2>
      </div>
      <div class="col m-2 p-4 border report_item">
        <h3>Number of clients</h3>
        <h2 data-controller="clients-count"></h2>
      </div>
      <div class="col m-2 p-4 border report_item">
        <h3>Number of realtors</h3>
        <h2 data-controller="realtors-count"></h2>
      </div>
      <div class="col m-2 p-4 border report_item">
        <h3>Number of locked users</h3>
        <h2 data-controller="locked-users-count"></h2>
      </div>
    </div>
    <div class="col-3">
      <div class="col m-2 p-4 border report_item">
        <h3>Number of lots</h3>
        <h2 data-controller="lots-count"></h2>
      </div>
      <div class="col m-2 p-4 border report_item">
        <h3>Number of commercial premises</h3>
        <h2 data-controller="commercial-premises-count"></h2>
      </div>
      <div class="col m-2 p-4 border report_item">
        <h3>Number of country side houses</h3>
        <h2 data-controller="country-side-houses-count"></h2>
      </div>
      <div class="col m-2 p-4 border report_item">
        <h3>Number of flats</h3>
        <h2 data-controller="flats-count"></h2>
      </div>
    </div>
    <div class="col-3">
      <div class="col m-2 p-4 border report_item">
        <h3>Number of not started lots</h3>
        <h2 data-controller="not-started-lots-count"></h2>
      </div>
      <div class="col m-2 p-4 border report_item">
        <h3>Number of lots in progress</h3>
        <h2 data-controller="in-progress-lots-count"></h2>
      </div>
      <div class="col m-2 p-4 border report_item">
        <h3>Number of published lots</h3>
        <h2 data-controller="published-lots-count"></h2>
      </div>
      <div class="col m-2 p-4 border report_item">
        <h3>Number of completed lots</h3>
        <h2 data-controller="completed-lots-count"></h2>
      </div>
      <div class="col m-2 p-4 border report_item">
        <h3>Number of blocked lots</h3>
        <h2 data-controller="blocked-lots-count"></h2>
      </div>
    </div>
  </div>
</div>
