<p id="notice"><%= notice %></p>

<p>
  <strong>Changes:</strong>
  <%= @changes_history.changes %>
</p>

<p>
  <strong>User:</strong>
  <%= @changes_history.user_id %>
</p>

<%= link_to 'Edit', edit_changes_history_path(@changes_history) %> |
<%= link_to 'Back', changes_histories_path %>
