<div class="language_switcher mb-5" style="text-align: center;">
  <h2 class="fw-light"><%= t('home.language_selection') %></h2>
  <%= link_to (image_tag 'ru.png', size: '45'), 'http://localhost:3000/?locale=ru'%>
  <%= link_to (image_tag 'en.png', size: '45'), 'http://localhost:3000/?locale=en'%>
  <%= link_to (image_tag 'de.png', size: '45'), 'http://localhost:3000/?locale=de'%>
  <%= link_to (image_tag 'uk.png', size: '45'), 'http://localhost:3000/?locale=uk'%>
</div>
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag 'flat.jpg', class: "rounded-circle", width: "140", height: "140"%>
      <h2><%= t('home.title1') %></h2>
      <p><%= t('home.description1') %></p>
      <%= link_to t('home.view1'), flats_catalog_path,  class: "btn btn-secondary" %>
      <% if user_signed_in? %>
        </br><%= link_to t('home.add1'), new_flat_path,  class: "btn btn-secondary mt-2" %>
      <% end %>
    </div>
    <div class="col-lg-4">
      <%= image_tag 'country_side_house.jpg', class: "rounded-circle", width: "140", height: "140"%>
      <h2><%= t('home.title2') %></h2>
      <p><%= t('home.description2') %></p>
      <%= link_to t('home.view2'), country_side_houses_catalog_path,  class: "btn btn-secondary" %>
      <% if user_signed_in? %>
        <%= link_to t('home.add2'), new_country_side_house_path,  class: "btn btn-secondary mt-2" %>
      <% end %>
    </div>
    <div class="col-lg-4">
      <%= image_tag 'commercial_premise.jpg', class: "rounded-circle", width: "140", height: "140"%>
      <h2><%= t('home.title3') %></h2>
      <p><%= t('home.description3') %></p>
      <%= link_to t('home.view3'), commercial_premises_catalog_path,  class: "btn btn-secondary" %>
      <% if user_signed_in? %>
        <%= link_to t('home.add3'), new_commercial_premise_path,  class: "btn btn-secondary mt-2" %>
      <% end %>
    </div>
  </div>
  <hr class="featurette-divider mt-5">
  <div class="row featurette mt-5">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%= t('home.quote1') %></h2>
      <p class="lead"><%= t('home.author1') %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'housee.jpg', width: "500", height: "500"%>
    </div>
  </div>
  <hr class="featurette-divider mt-5">
  <div class="row featurette mt-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"><%= t('home.quote2') %></h2>
      <p class="lead"><%= t('home.book2') %><span class="text-muted"><%= t('home.author2') %></span></p>
    </div>
    <div class="col-md-5 order-md-1">
      <%= image_tag 'minecraft.jpg', width: "500", height: "500"%>
    </div>
  </div>
  <hr class="featurette-divider mt-5">
  <div class="row featurette mt-5">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%= t('home.quote3') %></h2>
      <p class="lead"><%= t('home.author3') %><span class="text-muted"><%= t('home.book3') %></span></p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'little_flat.jpg', width: "500", height: "500"%>
    </div>
  </div>
  <hr class="featurette-divider">
</div>