<% presenter = HomePresenter.new(current_user) %>
<% if user_signed_in? %>
  <h1> Hello <%= presenter.email_without_domain_name %>!</h1>
<% else %>
  <h1> Hello friend! </h1>
<% end %>
<br />
<%= image_tag(current_user.avatar_miniature)  %>

<h2 class="mt-5">You can check <%= link_to 'cities', cities_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'districts', districts_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'streets', streets_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'addresses', addresses_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'commercial premises', commercial_premises_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'commercial premises kinds', commercial_premises_kinds_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'country side houses', country_side_houses_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'country side houses kinds', country_side_house_kinds_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'flats', flats_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'ready states', ready_states_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'renovations', renovations_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'wall materials', wall_materials_path %></h2>
