<% if user_signed_in? %>
  <h1> Hello <%= current_user.email.split('@').first %>!</h1>
  <%= image_tag current_user.avatar.variant(resize_to_limit: [300, 300]) %>
<% else %>
  <h1> Hello friend! </h1>
<% end %>

<h2 class="mt-5">You can check <%= link_to 'cities', cities_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'districts', districts_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'streets', streets_path %></h2>
<h2 class="mt-5">You can check <%= link_to 'addresses', addresses_path %></h2>
