<p id="notice"><%= notice %></p>

<h1>Wall Materials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wall_materials.each do |wall_material| %>
      <tr>
        <td><%= wall_material.name %></td>
        <td><%= link_to 'Show', wall_material %></td>
        <td><%= link_to 'Edit', edit_wall_material_path(wall_material) %></td>
        <td><%= link_to 'Destroy', wall_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wall Material', new_wall_material_path %>
