<p id="notice"><%= notice %></p>

<div class="mx-auto" style="width: 200px;">
  <h1>Districts</h1>
</div>

<table class="table table-bordered table-hover mt-3">
  <thead>
    <tr style="background-color: #C8EEFF;">
      <th>Name</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district.name %></td>
        <td><%= district.city.name %></td>
        <td><%= link_to 'Show', district %></td>
        <td><%= link_to 'Edit', edit_district_path(district) %></td>
        <td><%= link_to 'Destroy', district, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New District', new_district_path, class: "btn btn-outline-info" %>
