<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :building %>
    <%= form.number_field :building %>
  </div>

  <div class="field mb-3">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field mb-3">
    <%= form.label :street_id %>
    <%= form.collection_select :street_id, Street.order(:name), :id, :name %>
  </div>

  <div class="actions mb-2 d-grid gap-2 col-6 mx-auto">
    <%= form.submit 'Save', class:"btn btn-outline-success" %>
  </div>
<% end %>
