<% presenter = CommercialPremisePresenter.new %>
<%= form_with(model: commercial_premise) do |form| %>
  <% if commercial_premise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commercial_premise.errors.count, "error") %> prohibited this commercial_premise from being saved:</h2>

      <ul>
        <% commercial_premise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :commercial_premises_kind_id %>
    <%= form.collection_select :commercial_premises_kind_id, presenter.ordered_commercial_premises_kinds, :id, :name %>
  </div>

  <div class="field mb-3">
    <%= form.label :area %>
    <%= form.text_field :area, class: "form-control"  %>
  </div>

  <div class="field mb-3">
    <%= form.label :floor %>
    <%= form.number_field :floor, class: "form-control"  %>
  </div>

  <div class="field mb-3">
    <%= form.label :number_of_premises %>
    <%= form.number_field :number_of_premises, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :plot_of_land %>
    <%= form.number_field :plot_of_land, class: "form-control" %>
  </div>

  <div class="actions mb-2 d-grid gap-2 col-6 mx-auto">
    <%= form.submit 'Save', class:"btn btn-outline-success" %>
  </div>
<% end %>
