<%= form_with(model: commercial_premise) do |form| %>
  <% if commercial_premise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commercial_premise.errors.count, "error") %> prohibited this commercial_premise from being saved:</h2>

      <ul>
        <% commercial_premise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area %>
  </div>

  <div class="field">
    <%= form.label :floor %>
    <%= form.number_field :floor %>
  </div>

  <div class="field">
    <%= form.label :number_of_premises %>
    <%= form.number_field :number_of_premises %>
  </div>

  <div class="field">
    <%= form.label :plot_of_land %>
    <%= form.number_field :plot_of_land %>
  </div>

  <div class="field">
    <%= form.label :commercial_premises_kind_id %>
    <%= form.text_field :commercial_premises_kind_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
