<% presenter = CommercialPremisePresenter.new %>
<div class="container" style="width: 600px;">
<%= form_for @commercial_premise do |f| %>
  <% if commercial_premise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commercial_premise.errors.count, "error") %> prohibited this commercial_premise from being saved:</h2>

      <ul>
        <% commercial_premise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= f.label :area %>
    <%= f.text_field :area, class: "form-control"  %>
  </div>

  <div class="field mb-3">
    <%= f.label :floor %>
    <%= f.number_field :floor, class: "form-control"  %>
  </div>

  <div class="field mb-3">
    <%= f.label :number_of_premises %>
    <%= f.number_field :number_of_premises, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :plot_of_land %>
    <%= f.number_field :plot_of_land, class: "form-control" %>
  </div>
  
  <div class="field mb-3">
    <%= f.label :commercial_premises_kind_id %>
    <%= f.collection_select :commercial_premises_kind_id, presenter.ordered_commercial_premises_kinds, :id, :name %>
  </div>

  <%= f.fields_for :lot do |lot| %>
    <div class="field mb-3">
      <%= lot.label :images %></br>
      <% if !@commercial_premise.lot.nil? %>
        <% if @commercial_premise.lot.images.attached? %>
          <% @commercial_premise.lot.images.each do |image| %>
            <%= image_tag image.variant(resize_to_limit: [250, 250]).processed %>
          <% end %>
        <% end %>
      <% end %>
      <%= lot.file_field :images, multiple: true, type: "file", class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= lot.label :title %>
      <%= lot.text_field :title, class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= lot.label :description %>
      <%= lot.text_field :description, class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= lot.label :price %>
      <%= lot.number_field :price, class: "form-control" %>
    </div>

    <div class="field">
      <%= lot.hidden_field :client_id, value: current_user.id %>
    </div>

    <div class="field mb-3">
      <%= lot.label :deal_type_id %>
      <%= lot.collection_select :deal_type_id, DealType.order(:name), :id, :name %>
    </div>

    <%= lot.fields_for :address do |address| %>
      <div class="field mb-3">
        <%= address.label :building %>
        <%= address.number_field :building, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= address.label :description %>
        <%= address.text_field :description, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= address.label :street_id %>
        <%= address.collection_select :street_id, Street.order(:name), :id, :name %>
      </div>
    <% end %>
  <% end %>

  <div class="actions mb-2 d-grid gap-2 col-6 mx-auto">
    <%= f.submit 'Save', class:"btn btn-outline-success" %>
  </div>
<% end %>
</div>