<p>
  <strong>Kind:</strong>
  <%= @commercial_premise.commercial_premises_kind.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @commercial_premise.area %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @commercial_premise.floor %>
</p>

<p>
  <strong>Number of premises:</strong>
  <%= @commercial_premise.number_of_premises %>
</p>

<p>
  <strong>Plot of land:</strong>
  <%= @commercial_premise.plot_of_land %>
</p>

<%= link_to 'Edit', edit_commercial_premise_path(@commercial_premise), class: "btn btn-warning" %>
<%= link_to 'Back', commercial_premises_path, class: "btn btn-danger" %>
