<p id="notice"><%= notice %></p>

<h1>Lots</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Deal type</th>
      <th>Address</th>
      <th>Lotable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lots.each do |lot| %>
      <tr>
        <td><%= lot.title %></td>
        <td><%= lot.description %></td>
        <td><%= lot.price %></td>
        <td><%= lot.deal_type_id %></td>
        <td><%= lot.address_id %></td>
        <td><%= lot.lotable_id %></td>
        <td><%= link_to 'Show', lot %></td>
        <td><%= link_to 'Edit', edit_lot_path(lot) %></td>
        <td><%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lot', new_lot_path %>
