<p id="notice"><%= notice %></p>

<p style="text-align: center; font-size: 20px">
  <strong>Title:</strong>
  <%= @lot.title %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Description:</strong>
  <%= @lot.description %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Price:</strong>
  <%= @lot.price %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Deal type:</strong>
  <%= @lot.deal_type_id %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Address:</strong>
  <%= @lot.address_id %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Lotable:</strong>
  <%= @lot.lotable_id %>
</p>

<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
