<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Locality size:</strong>
  <%= @city.locality_size %>
</p>

<p>
  <strong>Region:</strong>
  <%= @city.humanized_region %>
</p>

<p>
  <strong>Description:</strong>
  <%= @city.description %>
</p>

<%= link_to 'Edit', edit_city_path(@city), class: "btn btn-warning" %>
<%= link_to 'Back', cities_path, class: "btn btn-danger" %>

<h4 class="mt-5">Districts of <%= @city.name %> city</h4>

<table class="table table-bordered table-hover mt-3">
  <thead>
    <tr style="background-color: #C8EEFF;">
      <th>District</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @city.districts.each do |district| %>
      <tr>
        <td ><%= district.name %></td>
        <td><%= link_to 'Show', district %></td>
        <td><%= link_to 'Edit', edit_district_path(district) %></td>
        <td><%= link_to 'Destroy', district, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
