<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Locality size:</strong>
  <%= @city.locality_size %>
</p>

<p>
  <strong>Region:</strong>
  <%= @city.region %>
</p>

<p>
  <strong>Description:</strong>
  <%= @city.description %>
</p>

<%= link_to 'Edit', edit_city_path(@city), class: "btn btn-warning" %>
<%= link_to 'Back', cities_path, class: "btn btn-danger" %>
