<h1>Realtor Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Registration number</th>
      <th>Employment date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realtor_profiles.each do |realtor_profile| %>
      <tr>
        <td><%= realtor_profile.registration_number %></td>
        <td><%= realtor_profile.employment_date %></td>
        <td><%= link_to 'Show', realtor_profile %></td>
        <td><%= link_to 'Edit', edit_realtor_profile_path(realtor_profile) %></td>
        <td><%= link_to 'Destroy', realtor_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realtor Profile', new_realtor_profile_path %>
